.wp-block-button {
    .wp-block-button__link {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;

        &.has-icon-left {
            flex-direction: row;
        }

        &.has-icon-right {
            flex-direction: row-reverse;
        }
    }
}
